@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(243 244 246);
}

#signup-page {
  background-image: url('../public/dark-bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
